@import '../../Styles/colors.scss';

.weather {
  max-width: 600px;
  min-width: 300px;
  border: 2px solid $border-color;
  transition: 0.5s all ease-out;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;


  hr {
    background-color: $border-color;
    border: none;
    height: 1px;
    outline: none;
  }

  button {
    cursor: pointer;
  }

  .error {
    color: $border-danger-color;
    font-size: 12px;
    font-weight: 900;
  }
}

.lightBorder {
  border: 2px solid yellow;
}

.dangerBorder {
  border: 1px solid $border-danger-color;

  hr {
    background-color: $border-danger-color;
  }


}